<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="{{title}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and apple touch icons-->
    <link rel="apple-touch-icon" href="/images/apple-icon.png">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/dashboard-assets/css/normalize.css">
    <link rel="stylesheet" href="/dashboard-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dashboard-assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dashboard-assets/css/themify-icons.css">
    <link rel="stylesheet" href="/dashboard-assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="/dashboard-assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/dashboard-assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/dashboard-assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/dashboard-assets/scss/style.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
