<!-- Carousel Start -->
<section style="background: url('/images/photogrid.jpg') center center repeat; background-size: cover;" class="relative-positioned">
  <div class="home-carousel">
    <div class="dark-mask mask-primary"></div>
    <div class="container">
      <div class="homepage owl-carousel">
        <div class="item">
          <div class="row">
            <div class="col-md-5 text-right">
              <p>
                <img src="/images/logo.png" alt="" class="ml-auto">
              </p>
              <h1>Nhiều thể loại đa dạng và hấp dẫn</h1>
              <p>Ngôn tình. Hài hước. Trinh thám
                <br>Manga. Kinh dị. Học tiếng anh.</p>
            </div>
            <div class="col-md-7">
              <img src="/images/carousel1.jpg" alt="" class="img-fluid img-size">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-7 text-center">
              <img src="/images/template-mac.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-5">
              <h2>Sách được cập nhật liên tục</h2>
              <ul class="list-unstyled">
                <li>Với các sách mới và hot nhất</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-5 text-right mt-3">
              <h1>Đảm bảo hải lòng khách hàng</h1>
              <ul class="list-unstyled">
                <li>Dịch vụ tốt và đảm bảo</li>
              </ul>
            </div>
            <div class="col-md-7">
              <img src="/images/template-easy-customize.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</section>
<!-- Carousel End -->