<!-- GET IT-->
<div class="get-it">
  <div class="container">
    <div class="row mail-evelope align-items-center">
      <div class="col-md-2">
        <img src="/images/mail-evelope.png" class="float-right d-none d-md-block">
      </div>
      <div class="col-md-5 p-3">
        <h3>Đăng ký nhận bản tin</h3>
        <h5>Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn</h5>
      </div>
      <div class="col-md-5">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Địa chỉ email của ban">
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary">
                <i class="fa fa-send"></i> Đăng ký</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{>team}}

<!-- FOOTER -->
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h4 class="h6">HỖ TRỢ KHÁCH HÀNG</h4>
        <div class="hotline-tel">Hotline: 1900-****</div>
        <ul class="list-unstyled">
          <li>
            <a href="#">Các câu hỏi thường gặp</a>
          </li>
          <li>
            <a href="#">Gửi yêu cầu hỗ trợ</a>
          </li>
          <li>
            <a href="#">Hướng dẫn đặt hàng</a>
          </li>
          <li>
            <a href="#">Phương thức vận chuyển</a>
          </li>
          <li>
            <a href="#">Chính sách đổi trả</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4 class="h6">VỀ CHÚNG TÔI</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">Giới thiệu về nhóm</a>
          </li>
          <li>
            <a href="#">Chính sách bảo mật</a>
          </li>
          <li>
            <a href="#">Chính sách giải quyết khiếu nại</a>
          </li>
          <li>
            <a href="#">Điều khoản sử dụng</a>
          </li>
        </ul>
        <hr class="d-block d-lg-none">
      </div>
      <div class="col-lg-3">
        <h4 class="h6">PHƯƠNG THỨC THANH TOÁN</h4>
        <img src="/images/payment-card.png" alt="" class="payment-card">
        <hr class="d-block d-lg-none">
      </div>
      <div class="col-lg-3">
        <h4 class="h6">TẢI ỨNG DỤNG TRÊN DIỆN THOẠI</h4>
        <p>Hiện tại không khả dụng :(</p>
        <hr class="d-block d-lg-none">
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center-md">
          <p>&copy; 2018. Your company / name goes here</p>
        </div>
        <div class="col-lg-8 text-right text-center-md">
          <p>Template design by
            <a href="https://bootstrapious.com/free-templates">Bootstrapious Templates </a>
          </p>
          <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </div>
      </div>
    </div>
  </div>
</footer>