<!-- SCROLL TO TOP Start-->
<section style="center top no-repeat; background-size: cover;" class="bar no-mt no-mb color-white text-center bg-fixed relative-positioned">
    <div class="dark-mask"></div>
    <div class="container mt-5 mb-5">
        <p class="text-center"><a href="#content" class="btn btn-template-outlined-white btn-lg">Về đầu mục</a></p>
    </div>
</section>
<!-- SCROLL TO TOP End-->
