<html>

<title>Kích Hoạt Tài Khoản</title>

<body>
    <div style="margin-left: 20px; font-family: arial, helvetica, sans-serif">
        <h1>Kích Hoạt Tài Khoản</h1>
        <h3>Cảm ơn bạn đã đăng ký tài khoản tại website chúng tôi hãy click vào nút ở dưới để kích hoạt tài khoản của bạn</h3>
        <div style="text-align: center">
            <p>
                <a href="http://localhost:3000/authen/active/{{token.Token}}">
                    <button style="color: white;background:blue; width: 300px;">
                        <h2>Kích Hoạt</h2>
                    </button>
                </a>
            </p>
            <p>
                <a href="http://localhost:3000/authen/active/{{token.Token}}">
                    <Small>Hoặc Click Vào Đây</Small>
                </a>
            </p>

        </div>
    </div>
</body>

</html>