<html>

<title>Đặt Lại Mật Khẩu</title>

<body>
    <div style="margin-left: 20px; font-family: arial, helvetica, sans-serif">
        <h1>Đặt Lại Mật Khẩu</h1>
        <h3>
            Có phải bạn vừa yêu cầu đặt lại mật khẩu tại bookstoreonline. Click vào button bên dưới để đặt lại mật khẩu
            . Yêu cầu đặt lại mật khẩu sẽ hết hạn sau 1 tiếng
        </h3>
        <div style="text-align: center">
            <p>
                <a href="http://localhost:3000/authen/resetpassword/{{token.Token}}">
                    <button style="color: white;background:blue; width: 300px;">
                        <h2>Đặt Lại Mật Khẩu</h2>
                    </button>
                </a>
            </p>
            <p>
                <a href="http://localhost:3000/authen/resetpassword/{{token.Token}}">
                    <Small>Hoặc Click Vào Đây</Small>
                </a>
            </p>

        </div>
    </div>
</body>

</html>