<!DOCTYPE html>
<html>

{{>__head__ }}
<title>404 Not Found</title>

<body>
    <div id="all">

        {{>topnavbar}}

        <!-- Heading Start -->
        <!-- Heading End -->

        <div id="content">
            <div class="container">
                <div class="row" style="background-color: white">
                    <div class="col-md-12 text-center mt-5">
                        <img src="/images/sucess.png" style="width: 200px;postion: relative;left:-5%" alt="">
                        <h5 class="m-4">Kích Hoạt Tài Khoản {{Email}} Thành Công.</h5>
                        <a href="/books" class="btn btn-warning mb-4" role="button">Quay Lại Trang Mua Sắm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    {{>__script__}}
    <script src="/javascripts/checkout.js"></script>
</body>

</html>