<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  {{>admin_head}}

</head>

<body>

  {{>admin_dashboard_leftpanel}}

  <!-- Right Panel -->

  <div id="right-panel" class="right-panel">

    {{>admin_dashboard_header}}

    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li class="active">Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-md-12 bg-danger">
            <ol style="color:white">
              {{#errors}}
              <p>{{msg}}</p>
              {{/errors}}
            </ol>
          </div>
          <div class="col-md-12">
            <div class="bar">
              <form method="post">
                <div class="row mt-3">
                  <div class="col-md-12">
                    <div class="form-group">
                      <h5 for="isbn">Email</h5>
                      <input type="text" name="email" class="form-control" placeholder="email@gmail.com" required>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12">
                    <div class="form-group">
                      <h5 for="title">Tên hiển thị</h5>
                      <input type="text" name="user_name" class="form-control" placeholder="Lê Viết Duy" required>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12">
                    <div class="form-group">
                      <h5 for="title">Mật khẩu</h5>
                      <input type="password" name="password" minlength="6" maxlength="32" class="form-control" placeholder="Password" required>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-template-outlined">
                    <i class="fa fa-save"></i> Tạo</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
      <!-- .animated -->
    </div>
    <!-- .content -->
  </div>
  <!-- /#right-panel -->

  <!-- Right Panel -->

  {{>admin_script}}

  <script type="text/javascript">
    $(document).ready(function () {
      $('#bootstrap-data-table-export').DataTable();
    });
  </script>

  <script>
    function hide_element(_id) {
      var x = document.getElementById(_id);
      alert(_id)
      if (x.style.display !== "none") {
        x.style.display = "none";
      }
    }
  </script>

</body>

</html>